直聘简历-未命名.docx
直聘简历-未命名.pdf
肖如涵简历.docx
肖如涵简历new.docx
docker-compose.yml
!内部agent/源文件/cinema-ticketing-backend/docker-compose.yml
压测报告.md
图片/*
!图片/.gitkeep
/API/
**/.env
**/.venv/
**/__pycache__/
**/.png
/langsmith(tracing)/
!/langsmith(tracing)/
/langsmith(tracing)/*
!/langsmith(tracing)/.gitkeep
AAA.pem
